{#
/**
 * @file
 * A link field pattern atom.
 *
 * @var string id
 *   The field ID.
 * @var string name
 *   The optional form name for the field.
 * @var string value
 *   The optional value for the field.
 * @var string size
 *   The optional size for the field display.
 * @var bool type
 *   The type of field widget to use.
 * @var string label
 *   Optional label for the field.
 * @var string class
 *   Any additional classes for the field.
 */
#}
<label class="{{ label_class }}">
  {{ label }}
  {% if help_text|default() -%}
    {%
    include '@rhcOpsLib/atoms/field/field_help.html.twig' with {
      'text': help_text,
    } only
    %}
  {%- endif %}
</label>
<div class="field__value">
  {{ value }}
  <a href="{{ url }}" class="field__link">
    {%
    include '@rhcOpsLib/atoms/icon/icon.html.twig' with {
      'lib': 'pficon',
      'name': 'arrow',
    } only
    %}
  </a>
</div>
