{#
/**
 * @file
 * Theme override for status messages.
 *
 * Displays status, error, and warning messages, grouped by type.
 *
 * An invisible heading identifies the messages for assistive technology.
 * Sighted users see a colored box. See http://www.w3.org/TR/WCAG-TECHS/H69.html
 * for info.
 *
 * Add an ARIA label to the contentinfo area so that assistive technology
 * user agents will better describe this landmark.
 *
 * Available variables:
 * - message_list: List of messages to be displayed, grouped by type.
 * - status_headings: List of all status types.
 * - attributes: HTML attributes for the element, including:
 *   - class: HTML classes.
 */
#}
<div data-drupal-messages>
  {% for type, messages in message_list %}
    {% if type == 'warning' %}
      {% set type = 'pf-m-warning' %}
    {% elseif type == 'error' %}
      {% set type = 'pf-m-danger' %}
    {% endif %}
    {% for message in messages %}
      {% embed '@patternfly/components/alert/alert.html.twig' with {
          'type': type,
          'label': status_headings[type],
          'description': message,
      } %}
      {% endembed %}
    {% endfor %}
  {% endfor %}
</div>
