{#
/**
 * Provides a PatternFly icon pattern.
 *
 * @var string lib
 *   The icon library to use.
 * @var string name
 *   The name of the icon.
 * @var string class
 *   Optional additional class for the icon.
 */
#}
<span class="{{ lib }} {{ lib }}-{{ name }} {{ class|default('') }}"></span>
