{#
/**
 * @file
 * A Bootstrap select pattern atom.
 *
 * @var string children
 *   The select element markup.
 */
#}

<div class="form-group">
  <div class="btn-group bootstrap-select form-control">
    {{ children }}
  </div>
</div>
