// PatternFly Search Results
//
// An implementation of PatternFly search results.
//
// Markup: search_results.html.twig
//
// Styleguide PatternFly.SearchResults

.search-results-pager {
  margin-bottom: 45px;
}

.search-results {
  list-style: none;
  padding-left: 0;

  li {
    margin-bottom: 2.75em;
  }
}
